<section ng-controller="LookupCtrl">
    <md-content>
        <form name="lookup" flex="100">
            <div layout="row">
                <md-input-container flex>
                    <label>Spotify URL</label>
                    <input name="spotifyURL" ng-model="spotifyURL">
                </md-input-container>
                <md-button class="md-primary md-raised" ng-click="lookUp(spotifyURL)">GO</md-button>
            </div>
        </form>
        <md-divider></md-divider>
        <div layout="row">
            <div flex>
                <md-list class="md-dense">
                    <md-subheader class="md-no-sticky">{{spPlaylist.info.name}} ({{spTracks.length}} Tracks)
                        <br>{{spPlaylist.info.description | trusted}}</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="track in spTracks track by $index" ng-click="null">
                        <img ng-src="{{track.art}}" class="md-avatar" alt="{{track.album}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3><strong>{{$index}}. {{track.song}}</strong></h3>
                            <h4>{{track.artist}}</h4>
                            <p>{{track.album}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div flex="15">
                <div layout="column">
                    <!--<md-button ng-click="getGooglePlaylists()" class="md-raised md-primary">
                        Get My Playlists
                        <md-icon>library_music</md-icon>
                    </md-button>-->
                    <md-button ng-click="lookupTracksOnGoogle()" ng-disabled="!spTracks.length" class="md-raised md-primary">
                        Match on Google
                        <md-icon>library_music</md-icon>
                    </md-button>
                    <md-button ng-click="createGooglePlaylist()" ng-disabled="!gpTracks.tracks.length" class="md-raised md-accent">
                        Create Playlist on Google
                        <md-icon>library_music</md-icon>
                    </md-button>
                </div>
            </div>
            <!--<div flex ng-if="gpPlaylists.length">
                <md-list class="md-dense">
                    <md-subheader class="md-no-sticky">{{gpPlaylists.length}} Google Playlists Found</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="gpl in gpPlaylists" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3><strong>{{gpl.name}}</strong></h3>
                            <h4>{{gpl.ownerName}}</h4>
                            <p>{{gpl.lastModifiedTimestamp | date: short}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>-->
            <div flex>
                <md-list class="md-dense">
                    <md-subheader class="md-no-sticky">{{gpTracks.tracks.length - gpTracks.errors.length}} Tracks to be Imported
                        <span ng-if="gpTracks.errors.length"><br>{{gpTracks.errors.length}} Error(s) matching tracks.</span>
                    </md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="gpTrack in gpTracks.tracks track by $index" ng-click="null">
                        <img ng-src="{{gpTrack.track.albumArtRef[0].url}}" class="md-avatar" alt="{{gpTrack.track.album}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3><strong>{{$index}}. {{gpTrack.track.title}}</strong></h3>
                            <h4>{{gpTrack.track.artist}}</h4>
                            <p>{{gpTrack.track.album}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>

        </div>
    </md-content>
</section>
